# Job scripts
jobs/
*.slurm
*.sh
*.job

# Output and log files
*.out
*.err
*.log

# Environment and temporary files
cache/
offload/
.env/
.envrc
*.pyc
__pycache__/
.ipynb_checkpoints/

# Model test files
src/model_tests/

# API keys
api_keys/*.txt

# raw result files
*.pickle

# DS _Store files
.DS_Store


figures/

stuff/

fig/

.claude/

notebooks/