# Job scripts
jobs/
*.slurm
*.sh
*.job

# Output and log files
*.out
*.err
*.log

# Environment and temporary files
cache/
.env/
.envrc
*.pyc
__pycache__/
.ipynb_checkpoints/

# Model test files
src/model_tests/

# API keys
api_keys/*.txt

# temporary files
create_openai_batch.py

# raw result files
*.pickle

# claude-generated figures (just meant as a test)
figures/

# DS _Store files
.DS_Store
