# Job scripts
jobs/
*.slurm
*.sh
*.job

# Output and log files
*.out
*.err
*.log

# Environment and temporary files
cache/
.env/
.envrc
*.pyc
__pycache__/
.ipynb_checkpoints/

# Model test files
src/model_tests/
